<h1>Welcom#Sample</h1>
<p>Find me in app/views/welcom/Sample.html.erb</p>

<%= "Message from controller : #{@controller_message}" %> 

<%= link_to("Go to Index", { :action =>'Index', :id =>5, :random => "Sanjay"}) %>